.wrapper{
    display: grid;
    grid-template-rows:auto 1fr auto; 
    grid-gap: 10px;
}

.footer{
    background-color: #f1f1f1;
}


.btn1{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: #f1f1f1;
    margin:10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn1 i{
    line-height: 60px;
    font-size: 30px;
    transition: 0.2s linear;
}

.btn1:hover i{
    transform: scale(1.3);
    color: #f1f1f1 ;
}

.btn1::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #238ae6;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}


.btn1:hover::before{
    animation: mycustom 0.7s 1;
    top:-10%;
    left: -10%;
}
@keyframes mycustom{
    0%{
        top:-110%;
        left: 90%;
    }
    50%{
        top:10%;
        left: -30%;
    }
    100%{
        top:-10%;
        left: -10%;
    }
}

.btn2{
    display: inline-block;
    height: 200px;
    width: 300px;
    background-color: #f1f1f1;
    margin:10px;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #00000070;
    overflow: hidden;
    position: relative;
    border-radius: 10%;
}

.btn2 i{
    line-height: 180px;
    font-size: 130px;
    transition: 0.2s linear;
}

.btn2:hover i{
    transform: scale(1.3);
    color: #0f0f0e ;
}

.btn2::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #238ae6;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}


.btn2:hover::before{
    animation: mycustom1 1s 1;
    top:-10%;
    left: -10%;
}

@keyframes mycustom1{
    0%{
        top:-110%;
        left: 90%;
    }
    50%{
        top:10%;
        left: -30%;
    }
    100%{
        top:-10%;
        left: -10%;
    }
}


ul{    
    height: 2fr;
    width: 10fr;
    border: #0f0f0e;

}
ul li{
    text-align: left;
    padding: 30px;
}